
<form action="" method="POST">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" value="{{nombre}}">
    <label for="clase">Clase</label>
    <input type="text" name="clase" value="{{clase}}">
    <label for="alineamiento">Alineamiento</label>
    <input type="text" name="alineamiento" value="{{alineamiento}}">
    <input type="submit">
    <input type="reset">
</form>